/* cunningPage.css */
.picture-container {
    
}

.custom-picture-style {
    width: 80px; 
    height: 80px; 
}

.lookup-input {
    max-height: 100% !important;
}

td[data-col-key-value="3-lookup-3"] span.slds-grid.slds-grid_align-spread div.slds-truncate {
    width: 100%;
    height: 200px;
}