/* cunningPage.css */
.picture-container {
    width: 100%;
}

.custom-picture-style {
    width: 100% !important;
    /* max-height: 100% !important;
    max-width: 100% !important;
    object-fit: cover;; */
    
}

.lookup-input {
    max-height: 100% !important;
}

td[data-col-key-value="3-lookup-3"] span.slds-grid.slds-grid_align-spread div.slds-truncate {
    width: 90%;
    /* height: 200px; */
}